
python/tquant_api.pyc
build
build_x64
build_x86
*~
MANIFEST
dist
tquant.egg-info
*.whl
x64
win32
java/.project
java/tquant-api.iml
pyext/tqapi.pyc
cs/.vs
cs/*/obj
cs/*.db
cs/**/*.user
cs/**/bin
cs/packages
cs/tqapi.VC.VC.opendb
cs/myjob/*
*.opendb
setup.cfg
cs/**/*.pdb
cs/**/*.dll
cs/**/*.xml
cs/**/*.exe
.vs
